In [26]:
df = pd.read_csv('heart_cleveland_upload.csv')
max_size = df.shape[0]
max_size

297

In [34]:
n_rows = random.randint(80, max_size)
n_rows

120

In [36]:
df = df.sample(n=n_rows, random_state=2, ignore_index=True)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,44,0,2,118,242,0,0,149,0,0.3,1,1,0,0
1,57,0,3,128,303,0,2,159,0,0.0,0,1,0,0
2,61,1,3,120,260,0,0,140,1,3.6,1,1,2,1
3,52,1,1,134,201,0,0,158,0,0.8,0,1,0,0
4,57,1,2,150,168,0,0,174,0,1.6,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,57,1,3,165,289,1,2,124,0,1.0,1,3,2,1
116,60,0,2,102,318,0,0,160,0,0.0,0,1,0,0
117,56,0,3,134,409,0,2,150,1,1.9,1,2,2,1
118,37,0,2,120,215,0,0,170,0,0.0,0,0,0,0
119,53,0,3,130,264,0,2,143,0,0.4,1,0,0,0

In [40]:
df.columns.drop(['condition'])

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal'],
      dtype='object')

In [30]:
df_1 = df.columns.drop['condition']

TypeError: 'method' object is not subscriptable

In [12]:
import click
import os
import pandas as pd
import random